* {
  margin: 0;
  padding: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
  padding: 100px;
  background: #00bf6a;
  color: #fff;
  height: 100vh;
}

h2 {
  margin-bottom: 30px;
  font-size: 24px;
}

input {
  padding: 12px 15px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 18px;
  min-width: 400px;
}

p {
  margin-top: 12px;
  font-size: 14px;
}

p strong {
  font-size: 16px;
}
